@import '../../Global';

.landing {
    position: relative;
    color: white;
    overflow: hidden;

    .background {
        position: absolute;
        left: 0;
        right: 0;
        height: 14.5em;
        z-index: -100;
        transform-origin: 0 0;
        transform: skewY(-5deg);
        background-color: $main-color;

        @media (min-width: 576px) {
            height: 16em;
        }

        @media (min-width: 768px) {
            right: calc(50vw - 300px);
            height: 110%;
            transform: skewX(-45deg);
        }
    }


    h1 {
        font-size: 1.7rem;
        font-weight: bold;
        padding-top: 1em;

        @media (min-width: 576px) {
            font-size: 2.2rem;

        }

        @media (min-width: 768px) {
            font-size: 2.7rem;
            width: 34rem;
        }
    }

    p {
        @media (min-width: 768px) {
            width: 24rem;
            font-size: 110%;
        }
    }

    img {
        width: 80%;
        margin: 5rem auto 2rem auto;
        display: block;

        @media (min-width: 768px) {
            width: 50%;
            float: right;
            margin: 4rem 0 2rem 0;
        }
    }
}

.stats {
    background-color: $main-color;
    color: white;

    div {
        text-align: center;
        font-size: 120%;
    }
}