@import '../../Global';

.navbar {
    width: 100%;
    min-height: 70px;
    position: fixed;
    top: 0;
    z-index: 1000;
    background: $main-color;
    box-shadow: 0 0 5px black;

    .navbar-nav {
        background: $main-color;
    }

    .nav-link {
        color: white!important;
    }

    .btn {
        height: 100%;
        border-color: $accent-collor;

        &.login, &.logout {
            background: white;
            color: black;
        }

        &.signup {
            background: $accent-collor;
        }
    }

    .profile-circle {
        height: 40px;
        width: 40px;
    }
}
