<body style="background: rgb(230, 227, 227); font-family: Arial, Helvetica, sans-serif">
    <table cellpadding="0" cellspacing="0" width="600" style="margin-left:auto;margin-right:auto; margin-top: 3em; border-collapse: collapse;">
        <tr style="background-color: #5379ff;">
            <td>
                <table cellpadding="0" cellspacing="0" width="60%" style="margin-left:auto;margin-right:auto;text-align: center; background-color: #5379ff">
                    <tr><td><img width="200px" src="cid:Myimage" style="text-align: center; padding-top:3em; padding-bottom: 1em"></td></tr>
                    <tr><td><h2 style="color: #ffffff; padding: 0.5em">Here is your private key!</h2></td></tr>
                    <tr><td><p style="color: #ffffff; padding-bottom: 2em"> {{ date }}</p></td></tr>
                </table>
            </td>
        </tr>
        <tr style="background: rgb(255, 255, 255); text-align: center">
            <td>
                <table cellpadding="0" cellspacing="0" width="80%" style="padding:2em; margin-left:auto;margin-right:auto;text-align: center">
                    <tr>
                        <td>
                            <p>Hi <strong>{{ account.username }},</strong></p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>Your account has been successfully activated.</p>
                        </td>
                    </tr>
                    <tr>
                        <td><p>Your private key is added as attachment.</p></td>
                    </tr>
                    <tr>
                        <td><p>Store it savely and don't lose it! Otherwise you won't be able to sign matches</p></td>
                    </tr>
                    <tr>
                        <td>
                            <p>
                                With kind regards,
                                <br/><br/>
                                The Chesschain Team
                            </p>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>
