.panels {
  text-align: center;

  .panel {
    background-color: #f1f1f1;
    padding: 0.5rem;

     .stats-title {
        font-size: 14px;
     }

     .stats-value {
        margin: 2%;
        font-size: 20px;
     }

     .stats-description {
       font-size: 12px;
     }

  }
}

.bottom-info {
  .stats-box-row {
    .avg-box {
      color: white;
      margin-top: 5%;
      height: 3.5rem;
      text-align: center;
      padding-top: 1%;
      border-radius: 4%;
    }

    .avg-opp-won {
      background-color: #0fdb0b;
    }

    .avg-opp-lost {
      margin-right: 2%;
      margin-left: 2%;
      background-color: #ed1109;
    }

    .avg-opp-draw {
      background-color: #a2a2a2;
    }
  }
}

