@import 'Global';

html {
    min-height: 100%;

    // Makes sure the footer can be positioned absolute to the entitre document
    position: relative;
}

body {
    // Correction for the header
    margin-top: 70px;
    // Correction for the footer
    margin-bottom: 140px;

    overflow-x: hidden;
}

.roboto-thin {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}

.roboto-light {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.roboto-regular {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}
