.matches-table {
  font-size: 13px;
  text-align: center;

  th {
    border-top: 0px;
    font-family: 'Roboto';
    font-weight: 300;
  }

  td {
    padding-bottom: 0.5rem;
    vertical-align: middle;

    height:100%
  }

  tr:hover:nth-child(odd) {
    background-color: rgb(226, 240, 245);
  }

  
  tr {
    border-left-width: .5rem !important;

    background-color: #f5f5f5;
    height: 4rem;

    margin-bottom: 5rem;
  }
  
  tr:not(:last-child) td .dashed-line{ 
    border:dashed;
    border-color: lightgrey;
    border-width: .3rem;

    width: 1%  } 

  .row-button {
    padding-top: 0.3rem;
  }

  .btn {
      transform: scale(0.75);
  }
  

  .border-light {
    border-left-color: lightgrey !important;

  }

  .spacer-text {
    vertical-align: middle;
  }

  p {
    margin-bottom: 0;
  }
  .start-text {
    font-size: larger;
  }

  .disabled-btn {
    background-color: rgb(79, 190, 79);
    opacity: 100%;
  }
}
