@import '../../Global';

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 140px;
    padding: 0.7em 0;
    background: $main-color;
    box-shadow: 0 0 5px black;

    h3, a, a:hover {
        color : white;
    }

    a {
        display: block;
    }

    h3 {
        font-size: 1.3rem;

        @media (min-width: 444px) {
            font-size: 1.75rem;
        }
    }
}
