.leaderboard {
  tr:nth-child(1) td {
    color: gold;
    font-weight: bold;
    font-size: larger;
  }

  tr:nth-child(2) td {
    color: silver;
    font-weight: bold;
  }

  tr:nth-child(3) td {
    color: #cd7f32;
    font-weight: bold;
  }
}
