.profile-badge {
  right: -1rem;
  top: -0.3rem !important;
  float: right;
  border-radius: 100%;
  color: white;
}

.unsigned-badge {
  float: right;
  border-radius: 100%;
  color: white;
  margin-top: 2%;
}
